/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.storeEvenCategories {
    -fx-color: #FF0000;
}

.storeOddCategories {
    -fx-color: #0000FF;
}

#storeCategoryHeader{

}

.storeButtons{
    -fx-background-color: #DDDDDD;
}

#storeItemView {
    -fx-background-color: #FDFDFD;
}

#storeRegisterView {
    -fx-background-color: #FFFF00;
}

#storeRegisterHeader {

}

#storeRegisterFooter {

}

#storeCheckoutButton{

}
