/*!CK:247952692!*//*1456483669,*/

._6fh{border:0;display:inline-block;overflow:hidden;position:relative}._6fh img{background:#f2f2f2 no-repeat 50% 50%;display:inline-block;max-height:168px;max-width:300px}._6fj{background:#141823;height:80px;text-align:center;width:140px}._6fh i{background:url(/rsrc.php/v2/yR/r/uBvpUP-IS0c.png);background-size:100% auto;height:36px;left:50%;margin:-18px 0 0 -18px;position:absolute;top:50%;width:36px}
._3i5e{margin:0 12px 12px 12px}

#bootloader_oCDUz{height:42px;}.bootloader_oCDUz{display:block!important;}